.btn {
    @include font-style-heading;
    @include border-radius;
    padding: 1em 2em;
    border: none;
    font-size: 1em;
    cursor: pointer;

    &+.btn {
        margin-left: 1em;
    }

    &-primary {
        background-color: $color-primary;
        color: #fff;

        &:hover {
            background-color: mix($color-primary, $color-dark, 90%);
        }
    }
}