.bg-primary {
    background-color: $color-primary;
}

.bg-dark {
    background-color: $color-dark;
}

.bg-light {
    background-color: $color-light-grey;
}

.text-primary {
    color: $color-primary;
}

.text-white {
    color: #fff;
}