$color-primary: #EB7070;
$color-grey: #4E4E4E;
$color-dark: #0D202B;
$color-light-grey: #f8f9fa;

$font-family-text: 'Open Sans',
sans-serif;
$font-family-headings: 'Exo 2',
sans-serif;

$border-radius: .5rem;