.bg-primary {
    background-color: $color-primary;
}

.bg-dark {
    background-color: darken($color-dark, 2.5);
}

.bg-light {
    background-color: $color-light-grey;
}

.text-primary {
    color: $color-primary;
}

.text-white {
    color: #fff;
}

.text-center {
    text-align: center;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

@for $i from 1 through 4 {
    .mt-#{$i} {
        margin-top: #{$i/2}em;
    }

    .mb-#{$i} {
        margin-bottom: #{$i/2}em;
    }

    .mv-#{$i} {
        margin-top: #{$i/2}em;
        margin-bottom: #{$i/2}em;
    }

    .mh-#{$i} {
        margin-left: #{$i/2}em;
        margin-right: #{$i/2}em;
    }
}

.lead {
    font-size: 1.2em;
    opacity: .75;
    margin-bottom: 2em;
}

.content-center-horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
}