@mixin font-style-text {
    font-family: $font-family-text;
    font-weight: 400;
}

@mixin font-style-heading {
    font-family: $font-family-headings;
    font-weight: 600;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}